﻿@model WebApp1.Models.ConversionResponse
@{
    ViewBag.Title = "Conversion Page";
}
<form action="/Home/Convert" method="post" style="
    padding-top: 20px;
">
    <label>Enter Name</label>
    <input type="text" name="name" value="" />
    <label>Enter amount</label>
    <input type="text" name="amount" value="" />
    <input type="submit" name="submit" value="SUBMIT" />
</form>
<div class="convert">

    @if (Model != null)
    {
        <h1>Conversion result</h1>
        <h3>Hello @Model.Name</h3>
        <h4>@Model.Amount.TrimEnd().TrimStart()</h4>
    }

</div>

